= form_for @work do |f|
  - if @work.errors.any?
    #error_explanation
      %h2= "#{pluralize(@work.errors.count, "error")} prohibited this work from being saved:"
      %ul
        - @work.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :catalogue
    = f.select(:catalogue_id, options_for_select(Catalogue.all.map{|catalogue| [catalogue.name, catalogue.id]}, @work.catalogue_id))
  .field
    = f.label :image
    = f.file_field :image
  - unless @work.image.blank?
    = image_tag @work.image.url
  .actions
    = f.submit 'Save'
