%h1 Listing works

%table
  %thead
    %tr
      %th Name
      %th Catalogue
      %th
      %th
      %th

  %tbody
    - @works.each do |work|
      %tr
        %td= work.name
        %td= work.catalogue_id
        %td= link_to 'Show', work
        %td= link_to 'Edit', edit_work_path(work)
        %td= link_to 'Destroy', work, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Work', new_work_path
