.row#contact-page
  .col-md-5
    .centred-text
      %p
        I invite you to contact me :)
      %p
        %b
          Email:
        ylxia@vp.pl
      %p
        %b Phone:
        666 666 666
      %p
        = link_to 'https://www.facebook.com/ylxiadrawing' do
          %i.fa.fa-facebook{aria: {hidden: 'true'}}
        = link_to 'https://www.instagram.com/ylxiaa' do
          %i.fa.fa-instagram
        = link_to 'https://www.ylxiadrawing.tumblr.com/' do
          %i.fa.fa-tumblr
  .col-md-7
    .form
      = simple_form_for @contact do |f|
        = f.input :name, :required => true, label: false, placeholder: 'Name'
        .pull-right
          = f.input :email, :required => true, label: false, placeholder: 'Email'
        = f.input :message, :as => :text, :required => true, label: false, placeholder: 'Message', input_html: { rows: 7 }
        .hidden
          = f.input :nickname, :hint => 'Leave this field blank!'
        .pull-right
          = f.button :submit, 'Send message', :class=> 'btn btn-success'
